<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:fragment="head">
        <meta charset="UTF-8">
        <!--<link rel="shortcut icon" href="./favicon.png" type="image/x-icon"/>-->
        <!--<link rel="manifest" href="./site.webmanifest">-->
        <title th:text="${title}"></title>

        <!-- Bootstrap stylesheet -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- custom css -->

        <!--TODO: fix importing styles from the file-->
        <!--<link rel="stylesheet" href="../../static/css/header.css">-->
        <style>
            .sidebar-sticky {
                height: calc(100vh - 39.6px);
            }
        </style>
    </head>
    <body>
        <!-- Navbar -->
        <nav th:fragment="navbar" class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">BioTrio</a>
        </nav>

        <!-- Sidebar -->
        <nav th:fragment="sidebar" class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="home"></span>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bookings">
                            <span data-feather="file"></span>
                            Bookings
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="shopping-cart"></span>
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="users"></span>
                            Movies
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="bar-chart-2"></span>
                            Cinemas
                        </a>
                    </li>
                </ul>
            </div>
            <!-- other part from sidebar to find: https://getbootstrap.com/docs/4.0/examples/dashboard/ -->
        </nav>

    </body>
</html>