.image--container {
    width: 100%;
    height: 32rem;
    padding-left: 5%;
    max-height: 500px;
}

.image--container .image--main {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    max-height: 500px;
}

.image--container .movie--info {
    color: white;
    z-index: 20;
}