<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head th:replace="fragments/header :: head(title='Add Booking')" />

    <body>
        <nav th:replace="fragments/header :: navbar" />

        <div class="container-fluid">
            <div class="row">
                <nav th:replace="fragments/header :: sidebar" />
                <div class="col-10 mt-3">
                    <h4 th:replace="fragments/header :: heading(text='Add Booking')" />

                    <!-- List of movies and Calendar with Showings underneath -->
                    <div class="row container mt-4">
                        <div class="col-md-4">
                            Movies List
                        </div>
                        <div class="col-md-8">
                            Calendar and showings
                        </div>
                    </div>

                    <hr>

                    <!-- Seats to select -->

                    seats

                </div>
            </div>
        </div>
    </body>
</html>