<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head th:replace="fragments/header :: head(title='Dashboard')" />

    <body>
        <nav th:replace="fragments/header :: navbar" />

        <div class="container-fluid">
            <div class="row">
                <nav th:replace="fragments/header :: sidebar" />
                <div class="col-10 mt-3">

                    <ul class="list-group">
                        <li class="list-group-item list-group-item-secondary">
                            <div class="row">
                                <div class="col-1">
                                    <span>id</span>
                                </div>
                                <div class="col-3">
                                    <span>movie</span>
                                </div>
                                <div class="col-3">
                                    <span>datetime</span>
                                </div>
                                <div class="col-3">
                                    <span>phone</span>
                                </div>
                            </div>
                        </li>
                            <!-- toggle wrapper -->
                            <a th:each="booking: ${bookings}"
                               class="list-group-item list-group-item-action"
                               data-toggle="collapse"
                               href="#collapseExample"
                               role="button"
                               aria-expanded="false"
                               aria-controls="collapseExample"
                            >
                                <div class="row">
                                    <div class="col-1">
                                        <span th:text="${booking.id}">id</span>
                                    </div>
                                    <div class="col-3">
                                        <span th:text="${booking.screening.movie.title}">movie</span>
                                    </div>
                                    <div class="col-3">
                                        <span th:text="${booking.screening.dateTime}">datetime</span>
                                    </div>
                                    <div class="col-3">
                                        <span th:text="${booking.phoneNumber}">phone</span>
                                    </div>
                                </div>


                                <!-- collapsing part of each booking -> list of tickets -->
                                <div class="collapse mt-2" id="collapseExample">
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex justify-content-between">
                                            <!-- some random info -->
                                            <span th:text="${booking.screening.theater.name}"></span>
                                            <span th:text="${booking.screening.theater.rows}"></span>
                                            <span th:text="${booking.screening.theater.cols}"></span>
                                        </li>
                                    </ul>
                                </div>
                            </a>
                    </ul>

                </div>
            </div>
        </div>


        <!-- Bootstrap scripts -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>