<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head th:replace="fragments/header :: head(title='Bookings')" />

    <body>
        <nav th:replace="fragments/header :: navbar" />

        <div class="container-fluid">
            <div class="row">
                <nav th:replace="fragments/header :: sidebar" />
                <div class="col-10 mt-3">

                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-1">
                                    <span>id</span>
                                </div>
                                <div class="col-3">
                                    <span>movie</span>
                                </div>
                                <div class="col-3">
                                    <span>datetime</span>
                                </div>
                                <div class="col-3">
                                    <span>phone</span>
                                </div>
                            </div>
                        </li>
                        <li th:each="booking: ${bookings}" class="list-group-item">
                            <div class="row">
                                <div class="col-1">
                                    <span th:text="${booking.id}">id</span>
                                </div>
                                <div class="col-3">
                                    <span th:text="${booking.screening.movie.title}">movie</span>
                                </div>
                                <div class="col-3">
                                    <span th:text="${booking.screening.dateTime}">datetime</span>
                                </div>
                                <div class="col-3">
                                    <span th:text="${booking.phoneNumber}">phone</span>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </body>
</html>