<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head th:replace="fragments/fragments :: head(title='BioTrio cinema')" />
    <link rel="stylesheet" th:href="@{/css/webpage.css}">
<body>

    <!-- Fixed top navbar -->
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-transparent">
        <a class="navbar-brand" href="#">
            <img th:src="@{/navbar_logo.png}" width="150" height="40" class="d-inline-block align-top" alt="BioTrio Logo">
        </a>

        <!-- Hamburger button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main">
        <div class="image--container d-flex justify-content-start align-items-center">
            <img class="img-fluid image--main" src="https://via.placeholder.com/750x400/111" alt="Random Movie generated">
            <div class="movie--info">
                <h4>Movie Title</h4>
                <p>Description of a movie</p>
                <button>Book</button>
            </div>
        </div>

    </main>


    <!--  For individual images in the list of movies https://stackoverflow.com/questions/49354906/overlay-image-with-text-with-bootstrap-4   -->

</body>
</html>