<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments/fragments :: head(title='Movies')" >
    <link rel="stylesheet" type="text/css" href="jquery-ui.min">

</head>
<body>
<!--this is for the navigation bar-->

<nav th:replace="fragments/fragments :: navbar" />

<div class="container-fluid">
    <div class="row">
        <nav th:replace="fragments/fragments :: sidebar" />

        <div class="col-10 mt-3">
            <h4 th:replace="fragments/fragments :: heading(text='Movies')" />

            <div class="container mt-4" >


                <!-- Modal for Edit -->

                <div class="modal fade" id="editMovie" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editMovieTitle">Edit Movie</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label for="editTitle">Title</label>
                                <input type="text" class="form-control" id="editTitle" maxlength="255">

                                <label for="editDurationInMinutes">Duration in Minutes</label>
                                <input type="number" class="form-control duration" id="editDurationInMinutes" min="10">

                                <label for="editIs3D">3D Movie</label>
                                <input type="checkbox" class="form-control" id="editIs3D">

                                <label for="editIsDolby">Dolby Movie</label>
                                <input type="checkbox" class="form-control" id="editIsDolby">

                            </div>
                            <div class="modal-footer">
                                <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-warning" id="submitChanges" >Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Modal for Add -->

                <div class="modal fade" id="addMovie" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addMovieTitle">Add New Movie</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label for="addTitle">Title</label>
                                <input type="text" class="form-control" id="addTitle" maxlength="255">

                                <label for="addDurationInMinutes">Duration in Minutes</label>
                                <input type="number" class="form-control" id="addDurationInMinutes" min="10">

                                <label for="addIs3D">3D Movie</label>
                                <input type="checkbox" class="form-control" id="addIs3D">

                                <label for="addIsDolby">Dolby Movie</label>
                                <input type="checkbox" class="form-control" id="addIsDolby">

                            </div>
                            <div class="modal-footer">
                                <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-warning" id="addNewMovie">Save</button>
                            </div>
                        </div>
                    </div>
                </div>





                <!-- Button for adding movie -->

                <div class="d-flex justify-content-end mb-4">
                    <button class="btn btn-primary"
                            type="button"
                            id="addButton"
                            data-toggle="modal"
                            data-target="#addMovie">Add Movie</button>
                </div>



                <!-- List of available movies -->

                <div id="table-container" style="overflow-y:auto; height:400px;">
                    <table class="table table-hover" id="movieTable">
                        <thead class="thead-dark">
                            <tr class="d-flex">
                                <th class="col-5 sortable" style="cursor:pointer">Title</th>
                                <th class="col-3 sortable" style="cursor:pointer">Duration in minutes</th>
                                <th class="col-1">3D</th>
                                <th class="col-1">Dolby</th>
                                <!-- columns for edit and delete button -->
                                <th class="col-1">Edit</th>
                                <th class="col-1">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="d-flex" th:each="movie : ${movieList}" th:object="${movie}">
                                <td class="col-5 title" th:text="${movie.title}" />
                                <td class="col-3 duration" th:text="${movie.durationInMinutes}"/>
                                <td class="col-1 3D" th:text="${movie.is3D}"/>
                                <td class="col-1 Dolby" th:text="${movie.dolby}"/>
                                <!--<td class="col-1 3D" th:text="${movie.is3D != null ? movie.is3D : 'NOT FOUND'}"/>-->
                                <!--<td class="col-1 Dolby" th:text="${movie.isDolby!= null ? movie.isDolby : 'NOT FOUND'}"/>-->
                                <td class="col-1"><a href="#"
                                                     id = "editButton"
                                                     class="btn btn-warning"
                                                     data-toggle="modal"
                                                     data-target="#editMovie"
                                                     th:attr="data-movieID=${movie.id}"><span class="fas fa-edit"></span></a></td>
                                <td class="col-1"><a class="btn btn-danger" th:attr="data-movieID=${movie.id}"><span class = "fas fa-trash text-white"></span></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <p style="color:grey;">List of movies
                    <br>Click on 'Title' in order to sort by the title of movies.
                    <br>Click on 'Duration in minutes' in order to sort by the duration of movies.</p>


            </div>
        </div>
    </div>
</div>



<!-- scripts for jquery and js -->

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script th:src="@{/js/movie/editMovie.js}"></script>
<script th:src="@{/js/movie/addMovie.js}"></script>
<script th:src="@{/js/movie/deleteMovie.js}"></script>

</body>
</html>
