<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments/fragments :: head(title='Bookings')" >
    <link rel="stylesheet" type="text/css" href="jquery-ui.min">
</head>
<body>
<!--this is for the navigation bar-->

<nav th:replace="fragments/fragments :: navbar" />

<div class="container-fluid">
    <div class="row">
        <nav th:replace="fragments/fragments :: sidebar" />

        <div class="col-10 mt-3">
            <div class="container" >

                <!-- Modal -->
                <div class="modal fade" id="editMovie" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editMovieTitle">Edit Movie</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label for="title">Title</label>
                                <input type="text" class="form-control title" id="editTitle" maxlength="50">

                                <label for="durationInMinutes">Duration in Minutes</label>
                                <input type="number" class="form-control duration" id="editDurationInMinutes" min="10">

                                <label for="is3D">3D Movie</label>
                                <input type="checkbox" class="form-control" id="editIs3D">

                                <label for="isDolby">Dolby Movie</label>
                                <input type="checkbox" class="form-control" id="editIsDolby">

                            </div>
                            <div class="modal-footer">
                                <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-warning" id="submitChanges" >Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- List of available movies -->
                <table class="table table-hover" id="sorTable">
                    <caption>List of movies</caption>
                    <thead class="thead-dark">
                        <tr class="d-flex">
                            <th class="col-5" onclick="sortTable(0)">Title</th>
                            <th class="col-3" onclick="sortTable(1)">Duration in minutes</th>
                            <th class="col-1">3D</th>
                            <th class="col-1">Dolby</th>
                            <!-- columns for edit and delete button -->
                            <th class="col-1">Edit</th>
                            <th class="col-1">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-flex" th:each="movie : ${movieList}" th:object="${movie}">
                            <td class="col-5 title" th:text="${movie.title}" />
                            <td class="col-3 duration" th:text="${movie.durationInMinutes}"/>
                            <td class="col-1 3D" th:text="${movie.is3D}"/>
                            <td class="col-1 Dolby" th:text="${movie.dolby}"/>
                            <!--<td class="col-1 3D" th:text="${movie.is3D != null ? movie.is3D : 'NOT FOUND'}"/>-->
                            <!--<td class="col-1 Dolby" th:text="${movie.isDolby!= null ? movie.isDolby : 'NOT FOUND'}"/>-->
                            <td class="col-1"><a href="#"
                                                 id = "editButton"
                                                 class="btn btn-warning"
                                                 data-toggle="modal"
                                                 data-target="#editMovie"
                                                 th:attr="data-movieID=${movie.id}"><span class="fas fa-edit"></span></a></td>
                            <td class="col-1"><a class="btn btn-danger" th:attr="movieID=${movie.id}"><span class = "fas fa-trash"></span></a></td>
                        </tr>
                    </tbody>
                </table>


                <!-- Form for adding a movie -->
               <!-- <h1 class="display-4">Add New Movie</h1> -->

                <details>
                    <summary>Add new movie</summary>
                    <p>
                <p class="lead">
                <form method="post" th:object="${newMovie}">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" placeholder="Title" maxlength="50" th:field="*{title}">
                    </div>
                    <div class="form-group">
                        <label for="durationInMinutes">Duration in Minutes</label>
                        <input type="number" class="form-control" id="durationInMinutes" placeholder="Duration" min="10" th:field="*{durationInMinutes}">
                    </div>
                    <div class="form-group">
                        <label for="is3D">3D Movie</label>
                        <input type="checkbox" class="form-control" id="is3D" th:field="*{is3D}" onchange="sendAlert()">
                    </div>
                    <div class="form-group">
                        <label for="isDolby">Dolby soundtrack</label>
                        <input type="checkbox" class="form-control" id="isDolby" th:field="*{dolby}" onchange="sendAlert()">
                    </div>
                        <script type="text/javascript">
                            function sendAlert() {
                                alert("Bio Trio doesn't have any theater that supports 3D or dolby screening yet. Please check again.");
                            }
                        </script>

                    <input type="submit" class="btn btn-outline-dark" value="Add Movie"/>
                    <button type="reset" class="btn btn-outline-dark">Cancel</button>
                </form>
                </p>
                    </p>
                </details>
            </div>
        </div>
    </div>
    </div>


<!--scripts for jquery and js-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script th:src="@{/js/movie.js}"></script>

</body>
</html>