<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head th:replace="fragments/fragments :: head(title='Theaters')" />

    <body>
    <nav th:replace="fragments/fragments :: navbar" />

    <div class="container-fluid">
        <div class="row">
            <nav th:replace="fragments/fragments :: sidebar" />
            <div class="col-md-10 mt-3">
                <h4 th:replace="fragments/fragments :: heading(text='Theaters')" />

                <!-- Button opening Modal for adding new Theater -->
                <div class="d-flex justify-content-end mb-4">
                    <button class="btn btn-primary">Add Theater</button>
                </div>


                <!-- TODO: Theater Modal for adding and editing, please read below
                     Could you check https://getbootstrap.com/docs/4.0/components/modal/, modal-body class
                    is just a container for everything that is between modal header and footer, so it is not neccessary to
                    add for each element extra container with class="modal-body"
                    naming is confusing, when you use half of the words in just small caps and then camel-case last word
                    id: editname, editrowsNumber, editcolumnsNumber
                    suggestion: nameField, rowsNumberField, columnNumberField
                 -->
                <div class="modal fade" id="editTheater" tabindex="-1" role="dialog" aria-labelledby="theaterModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalTitle">Edit Theaters</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                                <label for="nameField">Theater name</label>
                                <input type="text" class="form-control" id="nameField" placeholder="Edit name" maxlength="50">

                                <label for="rowsNumberField">Rows</label>
                                <input type="number" class="form-control" id="rowsNumberField" placeholder="Edit amount of rows" min="0">

                                <label for="columnsNumberField">Columns</label>
                                <input type="number" class="form-control" id="columnsNumberField" placeholder="Edit amount of columns" min="0">


                                <label for="is3D">3D option</label>
                                <input type="checkbox" class="form-control" id="is3D">

                                <label for="isDolby">Dolby option</label>
                                <input type="checkbox" class="form-control" id="isDolby">

                            <div class="modal-footer">
                                <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-warning" id="submitChangesBtn" data-toggle="modal" data-target="#editTheater">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                    <!-- List of available theaters -->
                    <table class="table table-hover" id="theaterTable">
                        <caption>List of theaters</caption>
                        <thead class="thead-dark">
                            <tr class="d-flex">
                                <th class="col-2">Name</th>
                                <th class="col-2">Rows no.</th>
                                <th class="col-2">Columns no.</th>
                                <th class="col-2">Can 3D?</th>
                                <th class="col-2">Can Dolby?</th>
                                <!-- columns for edit and delete button -->
                                <th class="col-1">Edit</th>
                                <th class="col-1">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="d-flex" th:each="theater : ${theaterList}">
                                <td class="col-2" th:text="*{theater.name}" th:value="${theater}"/>
                                <td class="col-2" th:text="${theater.rowsNumber}"/>
                                <td class="col-2" th:text="${theater.columnsNumber}"/>
                                <td class="col-2" th:text="${theater.can3d}"/>
                                <td class="col-2" th:text="${theater.dolby}"/>
                                <td class="col-1"><a href="#"
                                                     id = "editButton"
                                                     class="btn btn-warning"
                                                     data-toggle="modal"
                                                     data-target="#editTheater"
                                                     th:attr="data-theaterid = ${theater.id}"><span class="fas fa-edit"></span></a></td>
                                <td class="col-1">
                                    <button th:attr="data-theaterid=${theater.id}, data-theatername=${theater.name}" class="btn btn-danger"  >
                                        <span class="fas fa-trash"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Add new Theater form -->
                    <!-- TODO: We agreed today that this <details> would be better to just replace with a modal
                        Could you just make that one modal Above able to Edit and Add Theater?
                        Would be better to have addTheater.js file that let's us add dynamically a theater and show it
                        right away on the page instead of refreshing the website.
                        So the modal above could be used for adding and editing.
                        Also it helps when you open a modal when wanting to edit, and the information about the
                        editing Theater are populated in the proper fields
                     -->
                <details id="details">
                    <summary>Add new theater</summary>
                    <p>
                    <p class="lead">
                    <form method="post" th:object="${theaterForm}">
                        <div class="form-group">
                            <label for="addNameField">Name</label>
                            <input type="text" class="form-control" id="addNameField" placeholder="Enter name">
                        </div>
                        <div class="form-group">
                            <label for="addRowsField">Rows</label>
                            <input type="number" class="form-control" id="addRowsField" placeholder="Enter amount of rows">
                        </div>
                        <div class="form-group">
                            <label for="addColumnsField">Columns</label>
                            <input type="number" class="form-control" id="addColumnsField" placeholder="Enter amount of columns">
                        </div>
                    <div class="form-group">
                    <label for="change3D">3D</label>
                    <input type="checkbox" class="form-control" id="change3D">
                </div>
                    <div class="form-group">
                        <label for="changeDolby">Dolby</label>
                        <input type="checkbox" class="form-control" id="changeDolby">
                    </div>
                        <btn style="color: white" class="btn btn-dark" id="addTheater">Add Theater</btn>
                        <button type="reset" class="btn btn-outline-dark">Cancel</button>
                    </form>
                    </p>
                    </p>
                </details>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script th:src="@{/js/theater/deleteTheater.js}"></script>
    <script th:src="@{/js/theater/editTheater.js}"></script>
    <script th:src="@{/js/theater/addTheater.js}"></script>
    </body>
</html>