<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head th:replace="fragments/header :: head(title='Theaters')" />

    <body>
    <nav th:replace="fragments/header :: navbar" />

    <div class="container-fluid">
        <div class="row">
            <nav th:replace="fragments/header :: sidebar" />
            <div class="col-md-10 mt-3">
                <div class="container">
                    <!-- List of available theaters -->
                    <!--<h3>Theaters:</h3>-->
                    <table class="table table-hover">
                        <caption>List of theaters</caption>
                        <thead class="thead-dark">
                            <tr class="d-flex">
                                <th class="col-3">Name</th>
                                <th class="col-2">Rows number</th>
                                <th class="col-2">Columns number</th>
                                <th class="col-3">Can 3D?</th>
                                <!-- columns for edit and delete button -->
                                <th class="col-1"></th>
                                <th class="col-1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="d-flex" th:each="theater : ${theaterList}">
                                <td class="col-3" th:text="${theater.name}" />
                                <td class="col-2" th:text="${theater.rowsNumber}"/>
                                <td class="col-2" th:text="${theater.rowsNumber}"/>
                                <td class="col-3" th:text="${theater.can3d}"/>
                                <td class="col-1"><button class="btn btn-warning">Edit</button></td>
                                <td class="col-1"><button class="btn btn-danger">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Add new Theater form -->
                    <hr>
                    <h3>Add Theater</h3>

                    <form method="post" th:object="${theaterForm}" >
                        <div class="form-group">
                            <label for="cinemaId">Select Cinema</label>
                            <select th:field="*{cinemaId}" class="form-control" id="cinemaId" aria-describedby="cinemaName">
                                <option th:value="${dummyCinema}">BioTrio</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="theaterName">Theater Name</label>
                            <input th:field="*{name}" type="text" class="form-control" id="theaterName" placeholder="Theater Name">
                        </div>
                        <div class="form-group">
                            <label for="rowsNumber">Rows number</label>
                            <input th:field="*{rowsNumber}" type="number" value="1" min="1" class="form-control" id="rowsNumber" placeholder="Rows Number">
                        </div>
                        <div class="form-group">
                            <label for="columnsNumber">Columns number</label>
                            <input th:field="*{columnsNumber}" type="number" value="1" min="1" class="form-control" id="columnsNumber" placeholder="Columns Number">
                        </div>
                        <div class="form-check">
                            <input th:field="*{can3d}" type="checkbox" class="form-check-input" id="can3D">
                            <label class="form-check-label" for="can3D">Can 3d?</label>
                        </div>
                        <button type="submit" class="btn btn-primary mt-2">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    </body>
</html>