<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments/header :: head(title='Bookings')" >
    <link rel="stylesheet" type="text/css" href="jquery-ui.min">
</head>
<body>
<!--this is for the navigation bar-->

<nav th:replace="fragments/header :: navbar" />

<div class="container-fluid">
    <div class="row">
        <nav th:replace="fragments/header :: sidebar" />

        <div class="col-10 mt-3">
            <div class="container" >
                <!-- List of available movies -->
                <table class="table table-hover">
                    <caption>List of movies</caption>
                    <thead class="thead-dark">
                    <tr class="d-flex">
                        <th class="col-5">Title</th>
                        <th class="col-5">Duration in minutes</th>
                        <!-- columns for edit and delete button -->
                        <th class="col-1"></th>
                        <th class="col-1"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="d-flex" th:each="movie : ${movieList}">
                        <td class="col-5" th:text="${movie.title}" />
                        <td class="col-5" th:text="${movie.durationInMinutes}"/>
                        <td class="col-1"><button class="btn btn-warning">Edit</button></td>
                        <td class="col-1"><button class="btn btn-danger">Delete</button></td>
                    </tr>
                    </tbody>
                </table>


                <!-- Form for adding a movie -->
               <!-- <h1 class="display-4">Add New Movie</h1> -->

                <details>
                    <summary>Add new movie</summary>
                    <p>
                <p class="lead">
                <form method="post" th:object="${newMovie}">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" placeholder="Title" maxlength="50" th:field="*{title}">
                    </div>
                    <div class="form-group">
                        <label for="durationInMinutes">Duration in Minutes</label>
                        <input type="number" class="form-control" id="durationInMinutes" placeholder="Duration" th:field="*{durationInMinutes}">
                    </div>

                    <input type="submit" class="btn btn-outline-dark" value="Add Movie"/>
                    <button type="reset" class="btn btn-outline-dark">Cancel</button>
                </form>
                </p>
                    </p>
                </details>
            </div>
        </div>
    </div>
    </div>
</body>
</html>